@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --color-titulo: #F6F6F6;
    --bg-link-hover: #f6f6f6cb;
    --color-link-hover: #272323c2;
    --color-txt-title: #272323c2;
    --bg-main: rgba(243, 226, 193, 0.761);
    --bg-default: #cecfcf88;
    --icons: #25252521;
}

* {
    margin: 0;
    padding: 0;
}


.nav__principal {
    background-image: url("/assets/fundo.jpg");
    background-size: cover;
    padding: 10%;
    text-align: center;
}

.link-nav {
    color: var(--color-titulo);
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    margin: 5px;
    font-size: 2rem;
    border: 2px solid var(--color-titulo);
    border-radius: 20px;
}

.link-nav:hover {
    background-color: var(--bg-link-hover);
    color: var(--cor-link-hover);
    border: 2px solid var(--color-link-hover);
    transition: all linear 0.3s;
}

body {
    background-color: rgba(155, 155, 155, 0.644);
}

.conteiner {

    margin: 0.4% 3.5%;
}

main h1 {
    font-size: 3rem;
    color: var(--color-txt-title);
    padding: 40px 0;
    text-align: center;
}

h2 {
    font-size: 3rem;
    color: var(--color-txt-title);
    padding: 20px 0;
    text-align: center;
}


main {
    box-shadow: 0px 0px 5px 2px #272323c2;
    background-color: #F6F6F6;
    padding: 0 4em 1em 4em;
    font-size: 1.5rem;
    line-height: 160%;
}

section {
    font-family: 'Montserrat', sans-serif;
}

p {
    text-indent: 1em;
    margin: 1em auto;
}



.div__conteiner__img{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 2%;
}

.div__conteiner__left {
    width: 50%;
    border: thin silver solid;
    padding: 0.5%;
    text-align: center;
}

.div__conteiner__right{
    width: 50%;
    margin-left: 2%;
    border: thin silver solid;
    padding: 0.5%;
    text-align: center;
}

.img1 {
    width: 100%;
}

.img2 {
    width: 100%;
}

/* Rodape */


.subtitulo {
    margin: 1%;
}

.rodape {
    width: 100%;
}
.div__nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
}

.rodapeNav__list {
    padding: 1%;
}

.rodape__link {
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    font-size: 1rem;
}

.rodape__link:link {
    color: var(--color-txt-title);
}

.rodape__link:visited {
    color: var(--color-txt-title);
}

.rodape__link:hover {
    text-decoration: underline;
}

@media screen and (max-width: 480px){
    .nav__principal {
        display: flex;
        flex-flow: column wrap;
    }

    .conteiner {

        margin: 1%;
    }

    main h1 {
        font-size: 2rem;
        color: var(--color-txt-title);
        padding: 20px 0;
        text-align: center;
        line-height: 100%;
    }

    main {
        box-shadow: 0px 0px 5px 2px #272323c2;
        background-color: #F6F6F6;
        padding: 1em;
        font-size: 1.2rem;
        line-height: 160%;
    }

    h2 {
        font-size: 2.5rem;
        color: var(--color-txt-title);
        padding: 20px auto;
        text-align: center;
    }

    p {
        text-indent: 1.5em;
        margin: 0.5em auto;

    }
        
    .div__conteiner__img{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0;
    }

    .div__conteiner__left {
        width: 90%;
        border: thin silver solid;
        margin: 10px auto;
        text-align: center;
    }
    
    .div__conteiner__right{
        width: 91%;
        border: thin silver solid;
        margin: 10px;
        text-align: center;
    }

    .subtitulo {
        margin: 2%;
    }

    .div__nav {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        text-align: center;
    }

    .rodapeNav__list {
        padding: 2%;
    }

    .copyright {
        font-size: 1em;
        text-indent: 0;
        margin: 0.5em auto;
    }
}